<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎进入你的专属</title>
    <link rel="stylesheet" href="../css/index.css" />
</head>
<body>
    <div class="pos-relative belong-head">
        <img  class="pos-abs man" src="../images/belong_man.jpg" />
        <div class="pos-abs top-nav">
            <div class="belong-icon">Fy</div>
            <div class="dis-in-b belong-tip">我的专属，我做主</div>
            <div class="pos-abs opt-group">
                <div class="dis-in-b opt-btn cur-active">首页</div>
                <div class="dis-in-b opt-btn">关于作者</div>
                <div class="dis-in-b opt-btn">专属服务</div>
                <div class="dis-in-b opt-btn">经验</div>
                <div class="dis-in-b opt-btn">博客</div>
                <div class="dis-in-b opt-btn">联系</div>
            </div>

        </div>
        <div class="pos-abs man-detail">
            <div class="pos-relative man-detail-wrap">
                <img class="pos-abs myself" src="../images/belong_man.jpg" />
                <div class="detail">
                    <div class="dis-in-b pos-relative hello-btn">
                        <span>Hi!</span>
                        <div class="dis-in-b pos-abs arrow-down"></div>
                    </div>
                    <div class="hi-content">
                        <span>web & web 前端工程师</span>
                    </div>
                    <div class="my-detail">
                        <p><span class="pr">姓名</span><span>fzb</span></p>
                        <p><span class="pr">经验</span><span>4年</span></p>
                        <p><span class="pr">年龄</span><span>28</span></p>
                        <p><span class="pr">电话</span><span>18814360469</span></p>
                        <p><span class="pr">地址</span><span>深圳</span></p>
                        <p><span class="pr">邮箱</span><span>124100254@qq.com</span></p>
                        <p><span class="pr">网址</span><span>https://fzbgithub.github.io/</span></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pos-relative belong-wish">
        <img class="wish-man" src="../images/belong_man.jpg" />
        <div class="pos-abs wish-detail">
            <div class="wish-detail-content">
                <h2>Hi,我是fzb</h2>
                <p>这是我的专属愿望</p>
                <p>这是我的专属愿望</p>
                <p>这是我的专属愿望</p>
                <p>这是我的专属愿望</p>
                <p>这是我的专属愿望</p>
                <p>这是我的专属愿望</p>
                <p>这是我的专属愿望</p>
                <p>这是我的专属愿望</p>
                <p>这是我的专属愿望</p>
                <p>这是我的专属愿望</p>


            </div>
        </div>
    </div>
    <script src="../js/belong.js"></script>
</body>
</html>