<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页面渲染</title>
</head>
<body>
    <div>
        <h2>一.浏览器加载和渲染html的顺序</h2>
        <p>1.浏览器加载和渲染html的顺序</p>
        <p>2.IE下载的顺序是从上到下，渲染的顺序也是从上到下，下载和渲染是同时进行的。</p>
        <p>3.在渲染到页面的某一部分时，其上面的所有部分都已经下载完成（并不是说所有相关联的元素都已经下载完）</p>
        <p>4.如果遇到语义解释性的标签嵌入文件（JS脚本，CSS样式），那么此时IE的下载过程会启用单独连接进行下载。</p>
        <p>5.并且在下载后进行解析，解析过程中，停止页面所有往下元素的下载。阻塞加载</p>
        <p>6.样式表在下载完成后，将和以前下载的所有样式表一起进行解析，解析完成后，将对此前所有元素（含以前已经渲染的）重新进行渲染。
        JS、CSS中如有重定义，后定义函数将覆盖前定义函数</p>
    </div>
    <div>
        <h2>二.HTML页面加载和解析流程</h2>
        <p>1.用户输入网址（假设是个html页面，并且是第一次访问），浏览器向服务器发出请求，服务器返回html文件；</p>
        <p>2.浏览器开始载入html代码，发现＜head＞标签内有一个＜link＞标签引用外部CSS文件；</p>
        <p>3.浏览器又发出CSS文件的请求，服务器返回这个CSS文件；</p>
        <p>4.浏览器继续载入html中＜body＞部分的代码，并且CSS文件已经拿到手了，可以开始渲染页面了；</p>
        <p>5.浏览器在代码中发现一个＜img＞标签引用了一张图片，向服务器发出请求。此时浏览器不会等到图片下载完，而是继续渲染后面的代码；</p>
        <p>6.服务器返回图片文件，由于图片占用了一定面积，影响了后面段落的排布，因此浏览器需要回过头来重新渲染这部分代码；</p>
        <p>7.浏览器发现了一个包含一行Javascript代码的＜script＞标签，赶快运行它；</p>
        <p>8.Javascript脚本执行了这条语句，它命令浏览器隐藏掉代码中的某个＜div＞ （style.display=”none”）。杯具啊，突然就少了这么一个元素，浏览器不得不重新渲染这部分代码；</p>
        <p>9.终于等到了＜/html＞的到来，浏览器泪流满面……</p>
        <p>10.等等，还没完，用户点了一下界面中的“换肤”按钮，Javascript让浏览器换了一下＜link＞标签的CSS路径；
        浏览器召集了在座的各位＜div＞＜span＞＜ul＞＜li＞们，“大伙儿收拾收拾行李，咱得重新来过……”，浏览器向服务器请求了新的CSS文件，重新渲染页面</p>
    </div>
    <div>
        <h2>三.JS的加载</h2>
        <p>1.不能并行下载和解析（阻塞下载）</p>
        <p>2.当引用了JS的时候，浏览器发送1个js request就会一直等待该request的返回。因为浏览器需要1个稳定的DOM树结构，
            而JS中很有可能有代码直接改变了DOM树结构，比如使用 document.write 或 appendChild,甚至是直接使用的location.href进行跳转，
            浏览器为了防止出现JS修改DOM树，需要重新构建DOM树的情况，所以 就会阻塞其他的下载和呈现.
        </p>
        <p>js代码块(<script></script>)或引用的js文件相互独立，但变量和方法共享。js在解析过程分为两个阶段：预编译期（预处理）和执行期。</p>
        <p>js预编译期会对本代码块中的所有声明的变量和函数进行处理，类似于c语言的的编译，主要是声明函数提前和变量的声明，需要注意的是此时处理的函数是声明的式的函数，变量只进行声明，
        但没有进行初始化和赋值</p>
        <p>js预编译完之后开始自上而下执行，按照js的语法进行解析，对函数执行或者对变量赋值（根据函数的含义，比如页面加载完在执行函数里面的内容或者立刻执行函数等等），
        在发现有错误的语法时，js会立刻停止执行，退出当前的代码块(<script></script>或者外联jsw文件)，执行到下一个代码块（<script></script>或者外联jsw文件）</p>
        <p>
            <p>大体的流程如下：</p>
            step 1. 读入第一个代码块。

            step 2. 做语法分析，有错则报语法错误（比如括号不匹配等），并跳转到step5。

            step 3. 对var变量和function定义做“预编译处理”（永远不会报错的，因为只解析正确的声明）。

            step 4. 执行代码段，有错则报错（比如变量未定义）。

            step 5. 如果还有下一个代码段，则读入下一个代码段，重复step2。

            step6. 结束
        </p>
        <p>3补充：浏览器对html页面内容是按顺序自上而下加载的，在js里面有些方法会在dom加载完前后才执行，是因为用了js的方法告诉浏览器要在页面渲染
        前或者后才执行这个方法，比如window.onload(),jq的$(function() {})等，相当与告诉了浏览器要在整个页面加载完成后才触发里面方法的内容
        </p>
    </div>
    <div>
        <h2>四.几个页面加载的场景</h2>
        <div>
            <h5>window.onload()</h5>
            <p>
                window.onload = function() {
                $("table tr:nth-child(even)").addClass("even"); //这个是jquery代码
                };
                这段代码会在整个页面的document全部加载完成以后执行。不幸的这种方式不仅要求页面的DOM tree全部加载完成，
                而且要求所有的外部图片和资源全部加载完成。更不幸的是，如果外部资源，例如图片需要很长时间来加载，那么这个js效果就会让用户感觉失效了。
            </p>
        </div>
        <div>
            <h5>jq的$(document).ready,可以挂载在任何元素上</h5>
            <p>
                $(document).ready(function() {
                // 任何需要执行的js特效
                $("table tr:nth-child(even)").addClass("even");
                });
                就仅仅只需要加载所有的DOM结构，在浏览器把所有的HTML放入DOM tree之前就执行js效果。包括在加载外部图片和资源之前
                而$(function(){});是$(document).ready()的简写，在js文件中先自上而下先$(document).ready(function() {}),后声明
                一个变量值var test=123,在$(document).ready(function() {})可以使用到变量test而不报错的原因是，所有的js引用dom结构
                都没有加载完，因为js只能放在<head></head>或者<body></body>里面，由于js的阻塞，导致dom结构没加载完，自然而然的在js代码
                块中，$(document).ready(function() {})外面的声明变量先声明并且初始化了，等到dom结构加载完成，在反回来执行
                $(document).ready(function() {})里面的代码。
            </p>
        </div>
    </div>
    <div>
        <h2>附加</h2>
        <div>
            <h6>函数立即执行和匿名函数和函数表达式</h6>
             <p>立即执行行数:(function(a){})(123),!function(a){}(123),+function(a){}(123),-function(a){}(123),var fn=function(a){}(123)</p>
             <p>在function前面加！、+、 -甚至是逗号等到都可以起到函数定义后立即执行的效果，
                 而（）、！、+、-、=等运算符，都将函数声明转换成函数表达式，消除了javascript引擎识别函数表达式和函数声明的歧义，
                 告诉javascript引擎这是一个函数表达式，不是函数声明，可以在后面加括号，并立即执行函数的代码。</p>
        </div>
    </div>
</body>
</html>